<!-- views/result.erb -->
<!doctype html>
<html>
<head>
  <title>Result | Online Calculator</title>
</head>
<body>
  <h1>Awesome online calculator</h1>
  <%= @first %>    <%= @second %>    <%= @result %>
</body>
</html>
