<h1>Cuaderno de bitácora</h1>
<h2>Dia 364</h2>
<% if @@today.tuesday? %>
	<h3>Puto martes!</h3>
	<% else %>
	<h3>Abajo los martes!</h3>
	<% end %>
<p>Ya llevo 23 dias comiendo cacahuetes, IronHack no me deja tiempo para cocinar, muero...</p>
<p>Y hoy es <%= @@today %></p> 
<a href="https://www.google.com">GOOGLE</a>